em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.homebrew-img {
  height: auto; 
  width: 80px;
  margin: auto;
  display: flex;
  align-content: center;
}

.homebrew-srm {
  display: inline-flex;
  align-items: center;
  min-height: 20px;
  padding: 0.5rem 0.5rem;
  color: #fff;
  margin-bottom: 0.25rem;
}

.homebrew-srm.pilsner {
  background-image: linear-gradient(to right, #F3F993, #BE823A);
}

.homebrew-srm.amber {
  background-image: linear-gradient(to right, #BE823A, #5D341A);
}

.homebrew-srm.brown {
  background-image: linear-gradient(to right, #5D341A, #050B0A);
}

.homebrew-srm.stout {
  background-image: linear-gradient(to right, #050B0A, black);
}

